
<!-- Header Component -->

<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <a class="navbar-brand ms-4 zoom-effect" href="/"> Issue Tracker </a>

    <!-- Dynamically adding form -->
    <% if( title === "Project Page"){ %>
      <!-- adding  issue form -->
       <%- include('issue_form'); %> 
    <% }else{ %>
      <!-- adding project form -->
       <%- include('project_form'); %>
    <% } %>
  </div>
</nav>

<style>
  .zoom-effect {
  transition: transform 0.3s ease;  
}

.zoom-effect:hover {
  transform: scale(1.1);
}

body {
  background-image: url('path/to/your/image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
  /* background-color: #FFDEE9;
background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%); */

  background-color: #A9C9FF;
  background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);


}
</style>
